eval20251011-1205_20251110180514/Microsoft.Flow/flows/c4f10209-f57a-4574-a25b-024a427be643/definition.json
{"name":"7a420efd-ea10-49c9-b0e4-4b96651f52a9","id":"/providers/Microsoft.Flow/flows/7a420efd-ea10-49c9-b0e4-4b96651f52a9","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Upload Photos to SharePoint from Power Apps","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"e6fb8d95-aa1b-4ced-b6bd-a81edf1edb70","type":"User","tenantId":"42c94cfe-2c2c-4e03-8fa4-c363be24bd24"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-11-07T15:13:15.8579736Z","connectionKeySavedTimeKey":"2025-11-07T15:13:15.8579736Z","creationSource":"Portal","modifiedSources":"Portal;PowerappsPpux"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"48ef7150-1a3f-4ce8-8de4-9bb846bb87fc"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"description":"txtIDNumber","title":"txtIDNumber","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_3":{"description":"drpSubfolder.Selected.Value","title":"drpSubfolder.Selected.Value","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_4":{"description":"colPhotos","title":"colPhotos","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_1":{"description":"EntityName","title":"EntityName","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_2":{"description":"FullPath","title":"FullPath","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"required":["text","text_3","text_4","text_1","text_2"]}}}},"actions":{"FolderPath":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"c2857f71-9437-4c4d-9212-e1216e35d459"},"type":"Compose","inputs":"@outputs('Compose_TargetFolder')"},"Apply_to_each":{"foreach":"@variables('PhotoArray')","actions":{"Create_file":{"runAfter":{"Compose_Clean":["Succeeded"]},"metadata":{"operationMetadataId":"2bd82378-b7fd-4552-acd9-4221f842ce09"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://signeffectz.sharepoint.com/sites/InsightlyCustomerFileStorage","folderPath":"@outputs('Compose_TargetFolder')","name":"@concat( triggerBody()?['text'], '-', triggerBody()?['text_3'], '-', string(variables('Counter')), '.jpg' )","body":"@base64ToBinary(outputs('Compose_Clean'))"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Compose_Clean":{"runAfter":{"Increment_variable":["Succeeded"]},"metadata":{"operationMetadataId":"0b7df97b-8714-4354-a85f-de63a1331803"},"type":"Compose","inputs":"@trim( replace( replace( replace( last( split( coalesce(string(item()?['Image']), string(item()?['image']), string(item()?['Value']), '') , ',') ) , '\"', '') , '\\r\\n', '') , '\\n', '') )"},"Increment_variable":{"type":"IncrementVariable","inputs":{"name":"Counter","value":1}}},"runAfter":{"Counter":["Succeeded"]},"metadata":{"operationMetadataId":"5f6beaa1-f34d-4883-9bbd-4116734909d9"},"type":"Foreach"},"PhotoArray":{"runAfter":{"FolderPath":["Succeeded"]},"metadata":{"operationMetadataId":"6f788330-5144-4073-9e47-3af41d51ea2e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"PhotoArray","type":"array","value":"@body('Parse_JSON')"}]}},"Parse_JSON":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"a6713679-6401-439a-805e-c8cc0bb0a086"},"type":"ParseJson","inputs":{"content":"@json(triggerBody()?['text_4'])","schema":{"type":"array","items":{"type":"object","properties":{"Image":{"type":"string"}},"required":["Image"]}}}},"CreatedIDs":{"runAfter":{"PhotoArray":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CreatedIDs","type":"array"}]}},"FailedUploads":{"runAfter":{"CreatedIDs":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FailedUploads","type":"array"}]}},"Compose_TargetFolder":{"runAfter":{"Compose_SelectedFolderName":["Succeeded"]},"type":"Compose","inputs":"@concat( triggerBody()?['text_1'], '/', replace(outputs('Compose_SelectedFolderName'), '\"', ''), '/Project_DefaultTree/07-Photos/', triggerBody()?['text_3'] )"},"Get_folder_metadata_using_path":{"runAfter":{"Compose_TargetFolder":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://signeffectz.sharepoint.com/sites/InsightlyCustomerFileStorage","path":"@outputs('Compose_TargetFolder')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFolderMetadataByPath"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint":{"runAfter":{"Compose_RawTrigger":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://signeffectz.sharepoint.com/sites/InsightlyCustomerFileStorage","parameters/method":"GET","parameters/uri":"@concat('_api/web/GetFolderByServerRelativeUrl(''', '/sites/InsightlyCustomerFileStorage/', triggerBody()?['text_1'], ''')/Folders?$select=Name,ServerRelativeUrl')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose_Prefix":{"runAfter":{"Send_an_HTTP_request_to_SharePoint":["Succeeded"]},"type":"Compose","inputs":"@concat( if(equals(triggerBody()?['text_1'],'Insightly_Projects'),'PRO-','OPP-'), string(triggerBody()?['text']) )"},"Filter_Folders":{"runAfter":{"Compose_Prefix":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Send_an_HTTP_request_to_SharePoint')?['d']?['results']\r\n","where":"@startsWith(item()?['Name'],outputs('Compose_Prefix'))"}},"Compose_SelectedFolderName":{"runAfter":{"Filter_Folders":["Succeeded"]},"type":"Compose","inputs":"@first(body('Filter_Folders'))?['Name']"},"Compose_RawTrigger":{"runAfter":{"respAttemptedPath":["Succeeded"]},"type":"Compose","inputs":"@string(triggerBody())"},"Counter":{"runAfter":{"FailedUploads":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Counter","type":"integer"}]}},"respStatus":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"respStatus","type":"string","value":"success"}]}},"respMessage":{"runAfter":{"respStatus":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"respMessage","type":"string","value":"Upload completed"}]}},"respAttemptedPath":{"runAfter":{"respMessage":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"respAttemptedPath","type":"string"}]}},"Set_variable_respStatus_1":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"SetVariable","inputs":{"name":"respStatus","value":"success"}},"Set_variable_respMessage_1":{"runAfter":{"Set_variable_respStatus_1":["Succeeded"]},"type":"SetVariable","inputs":{"name":"respMessage","value":"Found target folder"}},"For_each_1":{"foreach":"@outputs('Filter_Folders')['body']","actions":{"Set_variable_respAttemptedPath_1":{"type":"SetVariable","inputs":{"name":"respAttemptedPath","value":"@outputs('Compose_TargetFolder')"}}},"runAfter":{"Set_variable_respMessage_1":["Succeeded"]},"type":"Foreach"},"Condition":{"actions":{"Set_variable_respStatus":{"type":"SetVariable","inputs":{"name":"respStatus","value":"error"}},"Set_variable_respMessage":{"runAfter":{"Set_variable_respStatus":["Succeeded"]},"type":"SetVariable","inputs":{"name":"respMessage","value":"Could not access target folder"}},"For_each":{"foreach":"@outputs('Filter_Folders')['body']","actions":{"Set_variable_respAttemptedPath":{"type":"SetVariable","inputs":{"name":"respAttemptedPath","value":"@items('For_each')"}}},"runAfter":{"Set_variable_respMessage":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Get_folder_metadata_using_path":["Failed","Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"equals":["@body('Get_folder_metadata_using_path')",404]}]},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"6de08c1f7a064fc9b14e82cf299e7e12","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}